@import "tailwindcss";
@source "../../**/*.svelte";
@source "./lib/**/*.svelte";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
  }

  body {
    font-family: var(--font-roboto);
    @apply antialiased bg-linear-to-t from-gray-950 to-gray-900 text-gray-500;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
