@import "tailwindcss";
@source "../../**/*.svelte";
@source "./lib/**/*.svelte";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
  }

  body {
    font-family: var(--font-roboto);
    @apply antialiased bg-linear-to-t from-black to-gray-950 text-gray-500;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1367px;
  }
}

.swiper-horizontal .swiper-button-prev {
  left: -10px !important;
}

.swiper-horizontal .swiper-button-next {
  right: -10px !important;
}

:is(.swiper-button-prev,.swiper-button-next).swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev, 
.swiper-button-next {
  color: var(--color-purple-500) !important;
}

.swiper-pagination-bullet {
  background: var(--color-purple-500) !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-purple-500) !important;
  opacity: 1 !important;
}

.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}